{% extends 'base.html' %}
{% block title %}主页{% endblock %}


{% block main %}
    <div class="main">

            <form>
                  <div class="form-group">
                    <label for="exampleInputPassword1">试题名称</label>
                    {{ form.file_name }}
                  </div>
                  <div class="form-group">
                      {{form.file_excel}}
                    <p class="help-block">上传的试卷格式excel</p>
                  </div>
                  <button type="submit" class="btn btn-default">上传</button>
                   <span>{{ msg }}</span>
            </form>
    </div>
{% endblock %}
