{% extends 'base.html' %}
{% block title %}主页{% endblock %}


{% block main %}
    <p>
        <a href="{% url 'upload_img' %}">上传照片</a>
    </p>

    <p>
        <a href="{% url 'showall_img' %}">显示全部照片</a>
    </p>

    <p>
        <a href="{% url 'upload' %}">上传文件</a>
    </p>

    <p>
        <a href="{% url 'weather' %}">天气预报</a>
    </p>


    {% if request.user.is_authenticated %}
    <p>
           <a href="{% url 'question' request.user.username %}">开始答题</a>
    </p>
    {% endif %}

{% endblock %}
