{% extends 'base.html' %}
<title>成绩</title>
{% block head %}
    <style>
                .c1 {
                    margin: 50px auto;
                    width: 500px;
                    padding-top: 47px;
                }


                #d2 {
                    margin: auto;
                    width: 500px;
                    height: 235px;
                    padding-top: 47px;
                }
    </style>
{% endblock %}
{% block main %}
    <h1 align="center">用户：{{ name }} 得分： {{ score }}</h1>

        {% for success in success_li %}
                <div class = 'c1'>
                    {{ forloop.counter }}
                    {{ success.choice_text }}
                        <li class="list-group-item"> A :{{ success.a }}</li>
                        <li class="list-group-item"> B :{{ success.b }}</li>
                        <li class="list-group-item"> C :{{ success.c }}</li>
                        <li class="list-group-item"> D :{{ success.d }}</li>
                        <br>
                        {{ success.answer }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;正确
                        <br>
                        <p>解析：{{ success.think }}</p>

                </div>
        {% endfor %}
    <hr style="margin-top: 50px">

    {% for error in error_li %}


            <div class = 'c1'>

                {{ forloop.counter }}
                {{ error.choice_text }}
                    <li class="list-group-item"> A :{{ error.a }}</li>
                    <li class="list-group-item"> B :{{ error.b }}</li>
                    <li class="list-group-item"> C :{{ error.c }}</li>
                    <li class="list-group-item"> D :{{ error.d }}</li>
                    <br>
                    <p>错误&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;正确答案:{{ error.answer }}</p>
                    <br>
                    <p>解析：{{ error.think }}</p>

            </div>
    {% endfor %}
{% endblock %}








