# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\选择题_django_exam_2020_12_17\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
